/* Zone header du site */
#menu_bar {
  width: 100%;
  height: 20%;
  font-family: 'Henny Penny', cursive;
}

/* Titre principale (jeux) */
h1 {
  font-size: 55px;
  color: white;
  text-align: center;
}
.element {
  animation: pulse 2.5s infinite;
}

@keyframes pulse {
  0% {
    text-shadow: 12px 12px 12px purple, 3px 3px 4px pink;
  }

}
/* Navigation header liens */
.choixCategorie {
  text-align: center;
}


/* Zone Du jeux */

.background {
  width: 800px;
  height: 518px;
  margin: 0 auto;
  display: block;
  position: relative;
  background-image: url('../image_jeux/the_cellar_bord.png')
}

#jeux {
  width: 610px;
  height: 328px;
  background-image: url('../image_jeux/the_cellar_fond.png');
  position: absolute;
  top: 95px;
  left: 95px;
}

canvas {
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
}

#character {
  z-index: 2;
}
#monster {
  z-index: 1;
}

body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}
#game_elements {
  margin-left: 50px;
}
#life, .avatar {
  display: inline-block;
}
.heart {
  width: 35px;
}
#score {
  color: white;
}
